html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
/* universal selectors */

body {
  margin: 0;
}
/* aligns the calculator */

input,
textarea,
button {
  border: 0;
  /* this reduces the button boarder */
  border-radius: 0;
  background-color: transparent;
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
  outline: none;
  appearance: none;
  text-align: left;
}

:root {
  font-family: system-ui;
}

html {
  font-size: 175%;
  /* fully adjusts the size of calculator */
  font-weight: 300;
  line-height: 1.2;
}

body {
  align-items: center;
  background-image: linear-gradient(236deg, #1d2e91d7, #465287); 
  /* changes the background color */
  display: flex;
  /* makes calculator centered */
  height: 100vh;
  justify-content: center;
}

.container {
  max-width: 20em;
}

.calculator {
  box-shadow: 0 0 40px 0px rgba(26, 77, 16, 0.5);
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
  max-width: 15em;
  overflow: hidden;
}

.calculator-display {
  background-color: #61B34F;
  color: white;
  font-size: 1.2em;
  padding: 0.5em 0.75em;
  text-align: right;
}

.calculator-keys {
  background-color: #76dc5f;
  display: grid;
  grid-gap: 1px;
  grid-template-columns: repeat(4, 1fr);
}

.calculator-keys > * {
  background-color: #61B34F;
  color: white;
  padding: 0.5em 0.75em;
/* makes the calculator icons more square */
  position: relative;
  text-align: center;
}

.calculator-keys > *:active::before,
.calculator-keys > .is-depressed::before {
  background-color: rgba(26, 77, 16, 0.5);
  bottom: 0;
  box-shadow: 0 0 6px 0 rgba(26, 77, 16, 0.5) inset;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}

.key-operator {
  background-color: #82C276;
  color: #639A59;
}

.key-equal {
  background-color: #61B34F;
  color: white;
  grid-column: -2;
  grid-row: 2 / span 4;
}
