body {
    display: center;
    font-family: "Open-Sans";
    font-size: 24pt;
}

div {
    font-family: "Open-Sans";
    display: flex;
}

.row {
    top: 0;
    display: flex;
    align-content: flex-start;
    justify-content: flex-start;
    column-gap: 1em;
    margin: 1rem;
    margin-bottom: 0;
}

.answer {
    background: #61B34F;
    color: white;
}

.button {
    background: #61B34F;
    color: white;
    padding: 2rem
}

.right-button {
    background: #82C276;
    color: black;
    padding: 2rem;
}